body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

hr {
    border: 0;
    height: 2px; 
    background-color: #EFFDFF;
    margin-top: 50px;
    margin-bottom: 40px;
}  
  
.about-section, 
.mission-section, 
.experiences-section, 
.eboard-section, 
.dev-team-section {
    width: 100%;
    padding: 10px 50px;
    box-sizing: border-box; 
    color: #fff; 
    font-family: 'Roboto', sans-serif;
    font-weight: 800; /* Extra bold */
    font-size: 28px;
  }

.about-section {
    background-color: #EFFDFF;
    color: #003046;
    display: flex;
    flex-direction: row; /* horizontal layout */
    position: relative;
    overflow: hidden;
    width: 100%;
    align-items: center;
}

.about-text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    max-width: 50%;
    box-sizing: border-box;
}

.about-text-container h1 {
    margin-bottom: 20px;
}

.about-text {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}

.image-diagonal {
    flex: 1;
    position: relative;
    z-index: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.image-diagonal img {
    width: 200%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 0 100%);
}

  
.mission-section {
    background-color: #0C6B68;
    text-align: center;
}

.mission-text{
    color: #43D6B9;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
  
.experiences-section {
    background-color: #EFFDFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

.experiences-container{
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
}
  
.eboard-section {
    background-color: #0C6B68;
}


.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    max-width: 100%; /* Prevent overflow */
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.quote-container {
    background-color: #EFFDFF;
    color: #003046;
    padding: 30px;
    flex: 1 1 300px;
    max-width: 800px;
    box-sizing: border-box;
    margin-right: 20px;
    text-align: left;
}

.spotlight {
    max-width: 35%;
    height: auto;
    flex: 1 1 300px;
    box-sizing: border-box;
}


.prez-text{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
}
  

.scrollable-gallery {
    display: flex;
    overflow-x: auto; 
    gap: 10px;
    padding: 10px 0;
    justify-content: center;
}

.gwc-img {
    width: 400px;
    height: auto;
    object-fit: cover;
}
  
.dev-team-section {
    background-color: #EFFDFF;
    color: #0DA195;
}

.image-container {
    position: relative;  /* Allow the label to be positioned absolutely within this container */
    text-align: center;
}

.image-label {
    position: absolute;
    bottom: 10px;  /* Position the label towards the bottom of the image */
    left: 0;
    right: 0;
    background-color: #0c6b689f;  /* Semi-transparent black background */
    color: white;  /* Text color */
    font-size: 25px;  /* Adjust font size */
    padding: 20px;  /* Padding around the text */
    margin: 0;  /* Remove any default margins */
    text-align: center;  /* Center the text within the label */
}

  